<mat-toolbar>
  <span>University Application</span>
  <span class="flex-expand"></span>
  <button
    mat-stroked-button
    type="button"
    class="margin-left"
    tooltip="User Settings"
    *ngIf="this.shouldShowButton()"
    (click)="goToUserSettings()"
  >
    <span>User Settings</span>
  </button>
  <button
    mat-stroked-button
    type="button"
    class="margin-left"
    tooltip="Logout"
    *ngIf="this.shouldShowButton()"
    (click)="logOut()"
  >
    <span>Logout</span>
  </button>
</mat-toolbar>
