<form [formGroup]="formGroup">
  <div class="container__row">
    <app-input class="container__col-12" label="First Name" formControlName="firstName">
    </app-input>
  </div>
  <div class="container__row">
    <app-input class="container__col-12" label="Last Name" formControlName="lastName">
    </app-input>
  </div>
  <div class="container__row">
    <app-input class="container__col-12" label="Email" formControlName="email">
    </app-input>
  </div>
  <div class="container__row">
    <app-input
      class="container__col-12"
      label="Password"
      formControlName="password"
    >
    </app-input>
  </div>
  <div class="container__row">
    <app-input
      class="container__col-12"
      label="Major"
      formControlName="major"
    >
    </app-input>
  </div>
  <div class="container__row">
    <app-input
      class="container__col-12"
      label="Minor"
      formControlName="minor"
    >
    </app-input>
  </div>
  <div class="container__row">
    <button type="button" (click)="signUp()">Sign Up</button>
  </div>
</form>
