.title {
    font-size: 22px;
    font-weight: 900;
  }
  
  .subtitle {
    margin-left: 15px;
    font-size: 22px;
    color: gray;
  }
  
  .fill-remaining-space {
    flex: 1;
    float: right;
    text-align: right;
  }
  
  .toolbar-wrapper {
    display: flex;
    padding: 15px;
    background-color: gainsboro;
    border-bottom: 1px solid lightblue;
    height: 41px;
    align-items: center;
  }
  